body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax( 250px ,1fr)); 
}

.card{
  border: 1px solid rgba(32, 32, 32, 0.19);
  padding: 1rem;
  margin: 4px;
}
.card-horizontal {
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}